<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Nem</title>
  <!-- What tagline / short desc will Nem use? -->
  <!--<meta name="description" content="<some tagline>">-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link href="public/normalize.css" rel="stylesheet" media="all">
  <link href="public/style.css" rel="stylesheet" media="all">
</head>
<body>
  <div>
  <header role="banner">
    <nav role="navigation">
      <h1><a href="/">Nem</a></h1>

      <ul>
        <li><a href="/">Info</a></li>
        <li><a href="/">Retain</a></li>
        <li><a href="/">Question</a></li>
        <li><a href="/">Activity</a></li>
        <li><a href="/">Search</a></li>
        <li><a href="/">About</a></li>
        <!--<li><a href="/">Network</a></li>-->
        <!--<li><a href="/">Admin</a></li>-->
      </ul>
    </nav>

    <nav role="navigation">
      <ul>
        <li><a href="/">Login</a></li>
        <li><a href="/">Signup</a></li>
      </ul>
    </nav>
  </header>
  <main role="main">
    Body
  </main>
  </div>
</body>
</html>
